<?xml version="1.0"?>
<!--
  ~ /**
  ~  * @author Eng.Asma Hawari
  ~  * @package VexSolutions_LoginCustomization
  ~  */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="VexSolutions_LoginCustomization" setup_version="1.0.0">
        <sequence>
            <module name="Magento_Customer"/>
        </sequence>
    </module>
</config>
